**/node_modules
**/.next
**/.turbo
**/dist
**/coverage
**/.git
**/.github
**/.vscode
**/.idea
**/*.log
**/.DS_Store
**/.env
**/.env.*
!**/.env.example
**/playwright-report
**/test-results
**/.expo
README.md
